<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/homepage.css" />
</head>

<body>
  <% include ../partials/nav.ejs %>

  <div class="jumbotron text-center">
    <div class="container">
      <h1>Restul Shopper</h1>
      <p>Shopping Made Easy</p>
    </div>
  </div>

  <div class="body-container">
    <section class="section-basket">
      <div class="image-container">
        <img src="/images/shopping-basket-icon.jpg"/>
      </div>
    </section>
  </div>

</body>
</html>
<script 
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous">
</script>
